.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}


/* LEFT SIDE */
.left-section {
    position: relative;
    width: 50vw;
    height: 100vh;
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Maintain the aspect ratio while filling the container */
}

.card-body {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 20rem;
    background-color: rgb(0, 0, 0, 0.6);
}

.logo {
    opacity: 0.6;
    width: 200px;
    height: 150px;
}



/* RIGHT SIDE */
.right-section {
    width: 50vw;
    background-color: white;
}




/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}